PACKAGE_LIST_TOOLS="i2c-tools xorg sshfs gdbserver plymouth plymouth-themes"
# Qt5 development packages

PACKAGE_LIST_QT5_DEVEL_BUILD_ESSENTIALS="build-essential perl python git"

PACKAGE_LIST_QT5_DEVEL_LIBXCB="libxcb1 libxcb1-dev libxcb-composite0 libxcb-composite0-dev libxcb-cursor0 libxcb-cursor-dev libxcb-damage0 libxcb-damage0-dev libxcb-doc libxcb-dpms0 \
	libxcb-dpms0-dev libxcb-dri2-0 libxcb-dri2-0-dev libxcb-dri3-0 libxcb-dri3-dev libxcb-ewmh2 libxcb-ewmh-dev libxcb-glx0 libxcb-glx0-dev libxcb-icccm4 \
	libxcb-icccm4-dev libxcb-image0 libxcb-image0-dev libxcb-keysyms1 libxcb-keysyms1-dev libxcb-present0 libxcb-present-dev libxcb-randr0 libxcb-randr0-dev libxcb-record0 \
	libxcb-record0-dev libxcb-render0 libxcb-render0-dev libxcb-render-util0 libxcb-render-util0-dev libxcb-res0 libxcb-res0-dev libxcb-screensaver0 libxcb-screensaver0-dev libxcb-shape0 \
	libxcb-shape0-dev libxcb-shm0 libxcb-shm0-dev libxcb-sync1 libxcb-sync-dev libxcb-util0-dev libxcb-xf86dri0 libxcb-xf86dri0-dev \
	libxcb-xfixes0 libxcb-xfixes0-dev libxcb-xinerama0 libxcb-xinerama0-dev libxcb-xinput0 libxcb-xinput-dev libxcb-xkb1 libxcb-xkb-dev libxcb-xrm0 libxcb-xrm-dev \
	libxcb-xtest0 libxcb-xtest0-dev libxcb-xv0 libxcb-xv0-dev libxcb-xvmc0 libxcb-xvmc0-dev libxcb-sync0-dev \
	libx11-xcb-dev libx11-xcb-dev libglu1-mesa-dev \
	libxrender-dev libxi-dev libxkbcommon-dev libxkbcommon-x11-dev"

PACKAGE_LIST_QT5_DEVEL_QTWEBKIT="flex bison gperf libicu-dev libxslt-dev ruby"

PACKAGE_LIST_QT5_DEVEL_QTWEBENGINE="libssl-dev libxcursor-dev libxcomposite-dev \
	libxdamage-dev libxrandr-dev libdbus-1-dev libfontconfig1-dev libcap-dev \
	libxtst-dev libpulse-dev libudev-dev libpci-dev libnss3-dev libasound2-dev \
	libxss-dev libegl1-mesa-dev gperf bison"
    
PACKAGE_LIST_QT5_DEVEL_QDOC="libclang-6.0-dev llvm-6.0"

PACKAGE_LIST_QT5_DEVEL_ADDITIONAL="zlib1g-dev libsqlite3-dev libgles2-mesa-dev libpcre16-3" 

PACKAGE_LIST_QT5_DEVEL_MALI="libxcb1 libxcb1-dev libx11-xcb1 libx11-xcb-dev \
	libxcb-keysyms1 libxcb-keysyms1-dev libxcb-image0 libxcb-image0-dev \
	libxcb-shm0 libxcb-shm0-dev libxcb-icccm4 libxcb-icccm4-dev \
	libxcb-sync0-dev libxcb-render-util0 libxcb-render-util0-dev \
	libxcb-xfixes0-dev libxrender-dev libxcb-shape0-dev libxcb-randr0-dev libsqlite3-dev \
	libxcb-glx0-dev libxcb-xinerama0-dev \
	\
	libfontconfig1-dev libdbus-1-dev libudev-dev libicu-dev libxslt1-dev libssl-dev \
	libasound2-dev libavcodec-dev libswscale-dev libpulse-dev libx11-dev libglib2.0-dev freetds-dev \
	libsqlite0-dev libpq-dev libiodbc2-dev libmariadb-dev firebird-dev libxext-dev \
	libxi-dev libdrm-dev"
	
PACKAGE_LIST_QT5_DEVEL="zlib1g-dev libxcb1 libxcb1-dev libx11-xcb1 libx11-xcb-dev libxcb-keysyms1 libxcb-keysyms1-dev \
	libxcb-image0-dev libxcb-shm0 libxcb-shm0-dev libxcb-icccm4 libxcb-icccm4-dev libxcb-sync0-dev \
	libxcb-render-util0 libxcb-render-util0-dev libxcb-xfixes0-dev libxrender-dev libxcb-shape0-dev \
	libxcb-randr0-dev libsqlite3-dev libxcb-glx0-dev libxcb-xinerama0-dev libgles2-mesa-dev libpcre16-3 xorg \
	sshfs gdbserver"


PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL $PACKAGE_LIST_TOOLS $PACKAGE_LIST_QT5_DEVEL_BUILD_ESSENTIALS $PACKAGE_LIST_QT5_DEVEL_LIBXCB \
	$PACKAGE_LIST_QT5_DEVEL_QTWEBKIT $PACKAGE_LIST_QT5_DEVEL_QTWEBENGINE $PACKAGE_LIST_QT5_DEVEL_ADDITIONAL" # additional packages
